.DS_Store
/trashbot-env/
/Vision/Trash-Dataset/
/Vision/Trash-Dataset1/
Vision/ResNet50-Python/variables/variables.data-00000-of-00001
Vision/ResNet50/variables/variables.data-00000-of-00001
/Vision/train/
